* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-weight: lighter;
}
html, body {
    width: 100%;
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
canvas {
    border: 10px solid #00ff00;
    margin: 1em;
}
small {
    margin-top: .5em;
}